.ProductSection {
  height: 35rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.1)),
    url("https://img.freepik.com/free-photo/beautiful-tropical-beach-sea_74190-6772.jpg?t=st=1708768218~exp=1708771818~hmac=33d2988b0eda554a0c51bb6cf0272ac46a423dacdfdebd9c3e4885ca7aeb0ddc&w=740");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 750px) {
  .ProductSection {
    height: 60rem;
  }
}
